.carousel {
    position: relative;
    margin: 0 auto;
    border: 1px solid green;
    width: 70rem;
    height: 90rem;
    perspective: 50rem;

    &__Slide {
        transform-origin: center center -28rem;
        background-size: cover, 5rem 5rem, 5rem 5rem, auto 40rem;
        background-repeat: repeat-x, repeat-x, no-repeat;
        // @include b-position(90deg, top, bottom, center);

        //@include children;
    }
}

